{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<form action="" method="post">
		{{form.hidden_tag() }}
		{{ wtf.form_field(form.amount,value=transaction.amount) }}<br>
		{{ wtf.form_field(form.note,value=transaction.note) }}<br>
		{{ wtf.form_field(form.category,value=transaction.category) }}<br>
		{{ wtf.form_field(form.dt,class_='datepicker',value=transaction.timestamp.date()) }}<br>
		{{ wtf.form_field(form.add,value="Save") }}
		<input  class ="btn btn-primary" type = "submit" name="cancel_button" value="Cancel">
	</form>
{% endblock %}