{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<table class="table" style="border-collapse: collapse;">
		<tr valign="top">
			<td width="128px"><img src="{{ user.avatar(128) }}"></td>
			<td><h1>Overview for {{ user.username }}</h1></td>
		</tr>
		<tr style="text-align:left;">
			<th colspan="2" class = "success"><h2>Daily Amount:</h2></th>
			<th colspan="2" class = "warning"><h2>Spent Today:</h2></th>
			<th colspan="2" class = "danger"><h2>Cash Left: </h2></th>
		</tr>
		<tr style="text-align:left;">
			{% if user.daily_allowance %}
			<td colspan="2" class = "success"><h2>{{ '$'+'{:.2f}'.format(dA) }} </h2></td>
			<td colspan="2" class = "warning"><h2>{{ '$'+'{:.2f}'.format(today) }} </h2></td>
			<td colspan="2" class = "danger"><h2>{{ '$'+'{:.2f}'.format(dA*dim) }} </h2></td>
			{% endif %}
		</tr>
	</table>
	<table class = "table">
		<thead>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</thead>
		<tbody>
			{% for week in range(6) %}
				<tr>
					{% for day in range(7) %}
						<td>
							{% if days[(week*7)+day][0].month == days[15][0].month %}
								<a href="{{ url_for('results',category='all',daterange=days[(week*7)+day][0]) }}">{{ days[(week*7)+day][0] }}</a><br>
								<b>{{ '$'+'{:.2f}'.format(days[(week*7)+day][1]) }}</b>
							{% else %}
							<div style="color:grey;">
								{{ days[(week*7)+day][0] }}<br>
								{{ '$'+'{:.2f}'.format(days[(week*7)+day][1]) }}
							</div>
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
