{% extends "base.html" %}

{% block content %}
	<table>
		<tr valign="top">
			<td><img src="{{ user.avatar(128) }}"></td>
			<td><h1>User: {{ user.username }} editing {{ title }}</h1></td>
			<tr><td><h2>Daily Amount: {{ user.daily_allowance }} </h2></td></tr>
		</tr>
		{% if title=="Profile" %}
			<tr><td><a href="{{ url_for('expenses') }}">Edit Monthly Expenses</a></td></tr>
			<tr><td><a href="{{ url_for('income') }}">Add Monthly Income</a></td></tr>
		{% elif title=="Expenses" %}
			<tr><td><a href="{{ url_for('transactions') }}">Add Transactions</a></td></tr>
			<tr><td><a href="{{ url_for('income') }}">Add Monthly Income</a></td></tr>
		{% else %}
			<tr><td><a href="{{ url_for('transactions') }}">Add Transactions</a></td></tr>
			<tr><td><a href="{{ url_for('expenses') }}">Edit Monthly Expenses</a></td></tr>
		{% endif %}
	</table>
	<hr>
	<table style="width:100%">
	<tr>
		<th>User</th>
		<th>Amount</th>
		<th>Note</th>
		<th>Date</th>
		<th>EditBtn</th>
		<th>DeleteBtn</th>
	</tr>

	{% if title=="Profile" %}
		{% for transaction in allTrans %}
			<tr style="background-color: lightblue;">
			{% include '_transaction.html' %}
			</tr>
		{% endfor %}
	{% endif %}


	{% for transaction in transactions %}
		<tr>
		{% include '_transaction.html' %}
		</tr>
	{% endfor %}

	<form action="" method="post">
		{{form.hidden_tag() }}

	<tr>
		<td>{{ form.add() }}</td>
		<td>{{ form.amount(size=10) }}</td>
		<td>{{ form.note(size=10) }}</td>
		<td>{{ form.dt(class_='datepicker') }}</td>
	</tr>

	

	</form>
	</table>
	{% if prev_url %}
	<a href="{{ prev_url }}">Newer Transactions</a>
	{% endif %}
	{% if next_url %}
	<a href="{{ next_url }}">Older Transactions</a>
	{% endif %}
{% endblock %}