{% extends "base.html" %}

{% block app_content %}
		{% if title=="Profile" %}
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="{{ url_for('transactions') }}">Transactions</a></li>
			<li role="presentation" ><a href="{{ url_for('expenses') }}">Expenses</a></li>
			<li role="presentation" ><a href="{{ url_for('income') }}">Income</a></li>
		</ul>
		{% elif title=="Expenses" %}
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{ url_for('transactions') }}">Transactions</a></li>
			<li role="presentation" class="active" ><a href="{{ url_for('expenses') }}">Expenses</a></li>
			<li role="presentation" ><a href="{{ url_for('income') }}">Income</a></li>
		</ul>
		{% else %}
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{ url_for('transactions') }}">Transactions</a></li>
			<li role="presentation" ><a href="{{ url_for('expenses') }}">Expenses</a></li>
			<li role="presentation" class="active" ><a href="{{ url_for('income') }}">Income</a></li>
		</ul>
		{% endif %}
	
	<table class = "table table-hover table-sm ">
	<tr>
		<th>Amount</th>
		<th>Category</th>
		<th>Date</th>
		<th>Note</th>
		<th>EditBtn</th>
	</tr>
<!--
	{% if title=="Profile" %}
		{% for transaction in allTrans %}
			<tr style="background-color: lightblue;">
			{% include '_transaction.html' %}
			</tr>
		{% endfor %}
	{% endif %} -->


	{% for transaction in transactions %}
		<tr>
		{% include '_transaction.html' %}
		</tr>
	{% endfor %}

	<form action="" method="post">
		{{form.hidden_tag() }}

	<tr>
		<td>${{ form.amount(size=10) }}</td>
		<td>{{ form.category() }}</td>
		<td>{{ form.dt(class_='datepicker') }}</td>
		<td>Note:{{ form.note(size=20,id='notes') }}</td>
		<td>{{ form.add(value="Add Transaction") }}</td>
	</tr>

	

	</form>
	</table>
	
	<nav aria-label="...">
		<ul class="pager">
			<li class="previous{% if not prev_url %} disabled{% endif %}">
				<a href="{{ prev_url or '#' }}">
					<span aria-hidden="true">&larr;</span> Newer posts
				</a>
			</li>
			<li class="next{% if not next_url %} disabled{% endif %}">
				<a href="{{ next_url or '#' }}">
					Older posts <span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}